<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>클래스 제목</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/lecture.css}">

    <!-- 비디오 플레이어 -->
    <link rel="stylesheet" th:href="@{/css/videoPlayer.css}">
    <script src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>
</head>
<body>
    <header class="position-sticky top-0 bg-white" style="z-index: 1020;">
        <div class="container py-2 py-lg-3 position-relative">
            <div class="d-lg-none d-flex align-items-center mb-1">
                <a href="#"><i class="bi bi-chevron-left"></i></a>
            </div>

            <div id="desktopMenu" class="d-none d-lg-flex justify-content-between align-items-center mb-1">
                <div class="d-flex align-items-center gap-3">
                    <a href="/">
                        <img src="/images/logo_mini.png" alt="로고" style="height: 20px; margin-bottom: 2px;">
                    </a>
                    <a id="header-category" href="#">카테고리</a>
                    <span class="small text-muted">|</span>
                    <a id="header-title" href="#">클래스 제목&nbsp;<i class="bi bi-chevron-right"></i></a>
                </div>
                <div class="d-flex align-items-center gap-2" th:if="${userInfo == null}">
                    <a href="/login" class="text-dark small fw-bold">로그인</a>
                    <a href="/signup" class="text-dark small fw-bold">회원가입</a>
                </div>
                <div class="d-flex align-items-center gap-2" th:unless="${userInfo == null}">
                    <a href="/mypage_wishlist" class="text-dark small fw-bold">마이페이지</a>
                    <a href="/logout" class="text-dark small fw-bold">로그아웃</a>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row g-2">
            <div class="col-lg-8">
                <div th:include="~{class/videoPlayer}"></div>
                <div class="row">
                    <div class="col-8">
                        <p id="content-section-title">섹션 제목</p>
                        <p id="content-lecture-title">강의 제목</p>
                    </div>
                    <div class="col-4 d-flex flex-row justify-content-center gap-3">
                        <span class="reaction-btn" id="btn-Like"><i class="bi bi-hand-thumbs-up"></i>좋아요</span>
                        <span class="reaction-btn" id="btnDislike"><i class="bi bi-hand-thumbs-down"></i>아쉬워요</span>
                        <span class="reaction-btn" id="btnShare"><i class="bi bi-upload"></i>공유하기</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <ul class="nav nav-tabs" id="tabMenu">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#curriculum">커리큘럼</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#materials">수업자료</a>
                    </li>
                    <li class="nav-item d-lg-none">
                        <a class="nav-link" data-bs-toggle="tab" href="#comment">댓글</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#news">소식</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="curriculum">
                        <div class="d-flex flex-column gap-2">
                            <!-- script로 추가되는 부분 -->
                        </div>
                    </div>
                    <div class="tab-pane" id="materials">
                        <div class="d-flex flex-column gap-2">
                            <p class="materials-header">수업노트</p>
                            <p class="materials-content">
                                ⚠️주의<br>
                                투자에 대한 모든 결정은 투자자의 책임입니다.<br>
                                콘텐츠에서 언급된 종목의 가격 변동 등에 대해<br>
                                주간101과 출연자는 어떠한 책임도 지지 않습니다.<br>
                                주간101과 출연자는 특정 금융투자상품에 대한 투자 조언을 하지 않습니다.
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane" id="news">
                        <div class="d-flex flex-column gap-2">
                            <div id="default-news" class="text-center">
                                <p>아직 새로운 소식이 없어요</p>
                                <p>크리에이터님의 소식이 곧 올라올 거에요</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 토스트 알림 -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="copyToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">알림</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                URL이 클립보드에 복사되었습니다.
            </div>
        </div>
    </div>
    <script>
        const params = new URLSearchParams(location.search);
        const lectureIdx = parseInt(params.get("lectureIdx"), 10);

        let lastPosition = 0;
        let totalWatchTime = 0;

        document.addEventListener('DOMContentLoaded', async function () {
            await init();
            bindVideoEvents();
        });

        function bindVideoEvents() {
            const videoElement = document.querySelector('video');

            let intervalId;
            videoElement.addEventListener('play', function() {
                intervalId = setInterval(() => {
                    if (videoElement.paused) return;

                    lastPosition = Math.floor(videoElement.currentTime);
                    totalWatchTime += 5;

                    saveWatchHistory(lectureIdx, lastPosition, totalWatchTime);
                }, 5000);
            });

            videoElement.addEventListener('pause', () => {
                clearInterval(intervalId);
                lastPosition = Math.floor(videoElement.currentTime);
                saveWatchHistory(lectureIdx, lastPosition, totalWatchTime);
            });

            videoElement.addEventListener('ended', () => {
                clearInterval(intervalId);
                lastPosition = Math.floor(videoElement.duration);
                saveWatchHistory(lectureIdx, lastPosition, totalWatchTime);
            });

            // 창이 닫히거나 새로고침 시 마지막 시청 기록 저장
            window.addEventListener('beforeunload', () => {
                if (lastPosition > 0) {
                    lastPosition = Math.floor(videoElement.currentTime);
                    sendBeaconWatchHistory(lectureIdx, lastPosition, totalWatchTime);
                }
            });
        }

        function saveWatchHistory(lectureIdx, lastPosition, totalWatchTime) {
            axios.post('/api/lecture/history', {
                lectureIdx,
                lastPosition,
                totalWatchTime
            }).catch(e => {
                console.error("영상 시청 내역 저장 실패", e);
            });
        }

        // 페이지가 닫힐 때 비동기 요청이 중단되지 않고 서버에 데이터 전송
        function sendBeaconWatchHistory(lectureIdx, lastPosition, totalWatchTime) {
            const data = JSON.stringify({ lectureIdx, lastPosition, totalWatchTime });
            const blob = new Blob([data], { type: 'application/json '});
            navigator.sendBeacon('/api/lecture/history', blob);
        }

        async function init() {
            const classIdx = parseInt(params.get("classIdx"), 10);

            // 1. 시청 내역 조회
            const historyRes = await axios.get('/api/lecture/history', { params: { lectureIdx }});
            const history = historyRes.data;
            console.log("history: " + JSON.stringify(history).toString());

            let autoPlay = false;
            if (history.lastPosition) {
                lastPosition = history.lastPosition;

                const formatTime = seconds => {
                    const pad = n => n.toString().padStart(2, '0');
                    const h = Math.floor(seconds / 3600);
                    const m = Math.floor((seconds % 3600) / 60);
                    const s = seconds % 60;
                    return `${pad(h)}:${pad(m)}:${pad(s)}`;
                };

                const time = formatTime(lastPosition);
                const resume = confirm(`시청 내역이 있습니다. ${time} 부터 이어서 시청하시겠습니까?`);
                if (!resume) {
                    lastPosition = 0;
                } else {
                    autoPlay = true;
                }
            }

            // 2. 커리큘럼 및 비디오 초기화
            const curriculumRes = await axios.get('/api/lecture/curriculum/' + classIdx);
            const { classInfo, curriculum } = curriculumRes.data;

            let videoId;
            let currentSection;
            let currentLecture;
            for (const section of curriculum) {
                const lecture = section.lectureList.find(lecture => lecture.lectureIdx === lectureIdx);
                if (lecture) {
                    videoId = lecture.lectureVideoIdx;
                    currentSection = section;
                    currentLecture = lecture;
                    break;
                }
            }

            document.querySelector('#videoPlayer').setAttribute('aria-id', videoId);

            // 비디오 플레이어 로드
            const {default: Video} = await import('/js/Video.js');

            const video = new Video(
                document.querySelector('#videoPlayer'),
                document.querySelector('.panel'),
                `/api/video/${videoId}/master.m3u8`
            );

            video.setPlayButton(
                document.querySelector('.thumbnail-box'),
                document.querySelector('#playButton')
            );
            video.controller.setTimeline(
                document.querySelector('.timeline'),
                document.querySelector('.progress'),
                document.querySelector('.time-display')
            );
            video.controller.setPlayPauseBtn(
                document.querySelector('.play-pause'),
                document.querySelector('.play-pause-event')
            );
            video.controller.setVolume(
                document.querySelector('.volume-btn'),
                document.querySelector('.volume-slider'),
                document.querySelector('.volume-progress')
            );
            video.controller.setFullScreen(
                document.querySelector('.fullscreen')
            );
            video.controller.setQuality(
                document.querySelector('.quality-btn'),
                document.querySelector('.quality-options')
            );

            video.controller.setKeyShortCuts();
            video.setCurrentTime(lastPosition);
            video.initialEventListener();
            video.initialPlayButton();

            if (autoPlay) {
                video.autoPlay();
            }

            // 컨텐츠 초기화
            document.querySelector('#header-category').textContent = classInfo.categoryName;
            document.querySelector('#header-title').innerHTML = classInfo.classTitle + '&nbsp;<i class="bi bi-chevron-right"></i>';
            document.querySelector('#content-section-title').textContent = currentSection.sectionTitle;
            document.querySelector('#content-lecture-title').textContent = currentLecture.lectureTitle;

            // 커리큘럼 초기화
            const content = document.querySelector('#curriculum').closest('div');
            for (const section of curriculum) {

                const sectionDiv = document.createElement('div');
                sectionDiv.classList.add('section', 'p-1');
                sectionDiv.innerHTML = `
                        <div class="section-title">
                            <div class="r-12 p-1">${section.sectionTitle}</div>
                        </div>`;

                for (const lecture of section.lectureList) {
                    const lectureDiv = document.createElement('div');
                    lectureDiv.classList.add('lecture', 'd-flex', 'flex-column', 'p-1');
                    lectureDiv.innerHTML += `
                            <div class="d-flex align-items-center">
                                <div class="lecture-title col-10 p-1">${lecture.lectureTitle}</div>
                                <div class="col-1 p-1">
                                    <i class="bi bi-play-circle-fill curriculum-icon"></i>
                                </div>
                            </div>
                            <div><i class="bi bi-clock"></i> ${lecture.lectureDuration}</div>
                        `;

                    if (lecture.lectureIdx === currentLecture.lectureIdx)
                        lectureDiv.classList.add("active");

                    lectureDiv.addEventListener('click', () => {
                        location.href = '/class/lecture?classIdx=' + classIdx + "&lectureIdx=" + lecture.lectureIdx;
                    });

                    sectionDiv.appendChild(lectureDiv);
                }
                content.appendChild(sectionDiv);
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
            crossorigin="anonymous"></script>
</body>
</html>